.faixa-meio{
    height: 450px;
    background: linear-gradient(to top, #c5a847 , #e4c252 , #ffd95c);
    position: relative;
    box-shadow: 0px 2px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faixa-meio>img#esquerda{
    position: absolute;
    left: 0px;
    bottom: 0;
    max-width: 400px;
}

.faixa-meio>img#direita{
    position: absolute;
    right: 0px;
    bottom: 0;
    max-width: 400px;
}
.faixa-meio h1{
    font-weight: 800;
    font-size: 3em;
}
.faixa-final{
    background: #fff;
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
