.card::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;

    background: radial-gradient(circle at var(--x) var(--y),
            rgba(255, 255, 255, 0.8),
            transparent 40%);
    mix-blend-mode: color-dodge;
    opacity: var(--brilho, 0);
}

.acoes-card {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    justify-content: center;
    gap: 10px;
    display: none;
}

.card.selecionado .acoes-card {
    display: flex;
}

.acoes-card button {
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.acoes-card button {
    width: 100%;
    font-weight: 800;
}

.acoes-card button.excluir {
    background-color: red;
    font-weight: 800;
}