.card {
    border: 1px solid red;
}

.card:hover {
    bottom: 10px;
}



.card h3,
p {
    margin: 0;

}

.controles-quantidade {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.controles-quantidade button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #b8860b;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}



.informacoes-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#area-cards {
    position: relative;
}

.faixa-meio {
    height: 450px;
    background: linear-gradient(to top, #c5a847, #e4c252, #ffd95c);
    position: relative;
    box-shadow: 0px 2px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faixa-final {
    background: #fff;
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}