/*Nesse arquivo, estilizamos os elementos que estão dentro do header.*/
:root{
    --x:1px;
    --y:1px;
}

#faixa-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    z-index: 1000;
    
}

#faixa-superior nav>ul {
    display: flex;
    list-style: none;
    gap: 10px;

}

#faixa-superior nav>ul>li {
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
}
#faixa-superior li>a{
    letter-spacing: 1px;
}

#faixa-superior nav>ul>li:hover {
    color: rgb(255, 206, 46);
    cursor: pointer;
}

#banner-container{
    position: relative;
}

#fundo-header {
    max-width: 1300px;
    height: 800px;
    margin: 0 auto;
    background-image: url("/img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}

#fundo-header>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}





#banner-container img#banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#logo-30th{
    width: 450px;
    width: fit-content;
}
#logo-30th img {
    width: clamp(200px, 30vw, 450px);
}

.card-container{
    position: absolute;
    right: 80px;
    bottom: 150px;

    display: flex;
    flex-direction: column;
    perspective: 1000px;
    
}

.card{
    width: clamp(200px, 30vw, 270px);
    transition: transform 0.1s ease;
    border-radius: 12px;
    
}
.card img {
    width: 100%;
    display: block;
}

.brilho {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;

    background: radial-gradient(
        circle at var(--x) var(--y),
        rgba(255, 255, 255, 0.8),
        transparent 40%
    );
    mix-blend-mode: color-dodge;
    opacity: 0;
}

.borda {
    border: 1px solid yellow;
}

.carrossel-container {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 60px;
    width: 100%;

    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carrossel-container>button{
    height: 100%;
    width: 60px;
    border: none;
}
.carrossel-container>button>img{
    color: white;
}

.carrossel-container>button:hover{
    background: linear-gradient(to right, gold, #fff, gold);
}

.titulo{
    color: #fff;
}

@media(max-width: 990px){
    .card-container{
        position: static;
    }
    .card{
        width: 200px;
    }
    .titulo{
        display: none;
    }
}