.titulo-2{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3em;
    display: block;
}

.destaques-container{
     background: linear-gradient(
    135deg,
    gold 0%,
    gold 20%,
    white 50%,
    gold 80%,
    gold 100%
    );
    text-align: center;
    padding: 50px 0px;
}

.destaques{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.destaques div.bloco-texto{
    max-width: 700px;
}


.destaques h2{
    font-weight: 800;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 20px;
}
.destaques p{
    font-size: 1.5em;
    padding: 10px;
}
.destaques div.nota{
    font-size: 0.7em;
    width: 100%;
    max-width: 1000px;
}

.logo-pikachu{
    max-width: 200px;
    display: block;
    margin: 0 auto;
}
.back-card{
    max-width: clamp(150px, 20vw, 200px);
    border-radius: 15px;
    transform: rotate(10deg);
    width: 50%;
}
.booster{
    max-width: clamp(150px, 20vw, 250px);
    width: 50%;
    transform: rotate(-15deg);
    top: 150px;
}
