.titulo-2{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3em;
}
.destaques{
    background: linear-gradient(
    135deg,
    gold 0%,
    gold 20%,
    white 50%,
    gold 80%,
    gold 100%
    );
    padding: 50px 0px;;
    text-align: center;
    position: relative;
}
.destaques>div.bloco-texto{
    max-width: 600px;
    position: relative;
    left: 20%;
}
.booster{
    width: 250px;
    position: absolute;
    transform: rotate(-15deg);
    top: 150px;
    right: 620px;

}

.back-card{
    position: absolute;
    width: 200px;
    border-radius: 15px;
    transform: rotate(10deg);
    top: 200px;
    right: 350px;
}

.destaques h2{
    font-weight: 800;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}
.destaques p{
    text-align: center;
    font-size: 1.5em;
}

.logo-pikachu{
    max-width: 200px;
    display: block;
    margin: 0 auto;
}
